mixin infographic-note(text, center)
  .infographic-note
    if(center)
      p.text-center.mb-7=text
    else 
      p=text

mixin infographic-product-card(id, premium)
  label(for=id).infographic-product_card(:class=`selectedPlan === '${id}' ? 'bg-singlife-purple-500' : 'bg-singlife-blue-700'`)
    if(premium)
      .infographic-product_card-highlight Super Value Bundle!
    .infographic-product_card-header
      if premium
        h4.infographic-product_card-heading Singlife Shield Starter + Health Plus (Rider)
      else
        h4.infographic-product_card-heading Singlife Shield Starter
      input.infographic-input(type="radio" value=id id=id name="infographic-group" x-model="selectedPlan")
    .infographic-product_card-desc
      p As-charged coverage of up to S$20,000/year at preferred medical providers
    .infographic-product_card-feature-text
      img(src=path+"assets/icons/infographic/tick.svg", alt="tick-icon")
      if premium
        div(class="infographic-product_card-feature-text-text") 
          | Your co-payment is reduced to just 
          span(class="text-singlife-purple") 5% of hospital bill
      else
        div(class="infographic-product_card-feature-text-text") 
          | Your out-of-pocket payment is capped at 
          span(class="text-singlife-purple") S$3,500 for the deductibles plus 10% of the remaining hospital 
          | bill
    .infographic-product_card-footer
      p Premium Payable
      span S$300.00

mixin infographic-products
  .infographic-products
    +infographic-product-card("starter-plus", true)
    +infographic-product-card("starter")

mixin infographic-tooltip(id, classes)
  .popover-tooltip(popover id=id class=classes)
    .popover-tooltip_content
      h6.popover-tooltip_header Singlife will pay
      p For preferred medical providers, Singlife will cover the remaining amount, up to S$20,000, after deducting the 5% co-insurance. For non-preferred medical providers, Singlife's coverage will be reduced by 50% (i.e., from 95% to 48%).

mixin popover-tooltip
  .popover-tooltip(popover id="tooltippov" x-data @mouseover="$store.delaydes.toggle(true)" @mouseleave="$store.delaydes.toggle(false);$store.delaydes.desTooltipByStore($el.id)")
    .popover-tooltip_content
      h6.popover-tooltip_header Singlife will pay
      p For preferred medical providers, Singlife will cover the remaining amount, up to S$20,000, after deducting the 5% co-insurance. For non-preferred medical providers, Singlife's coverage will be reduced by 50% (i.e., from 95% to 48%).

mixin infographic
  .container
    div(x-data="infographic")
      +title-and-desc("What you'll need to pay if you are hospitalised", "Reduce your out-of-pocket expenses on your hospital bill with just S$1.00* add-on to your Shield plan.")
      +infographic-chart('starter-plus')
      +infographic-note('Note: Above figures are solely for illustration purposes, based on a S$10,000 bill at preferred medical provider.', true)
      +infographic-products
      +infographic-note('*Premiums quoted before GST')
    +infographic-tooltip("sllpaypov", "")
    +infographic-tooltip("yllpaypov", "right-align")
